html {
  height: 100%;
  position: relative;
  width: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  width: 100%;
}

nav {
  height: 15vh;
}

.top-section-nav {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  height: 25vh;
  justify-content: space-between;
  width: 100%;
}

.list-items-container {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 5%;
}

nav {
  align-items: center;
  display: flex;
  flex-direction: row;
}

button {
  color: #1e96fc;
  border: none;
  display: flex;
  flex-direction: row;
}

.nav-icon {
  height: 3vh;
  width: 2vw;
}

.nav-list-item {
  border: 0;
  font-size: 15px;
  height: 5vh;
  width: 184px;
}

.right-side-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 17vh;
  justify-content: space-between;
  margin-right: 18%;
}

.user-container {
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: 15vw;
}

.user-icon,
.down-arrow {
  height: 4vh;
  width: 2vw;
}

.site-logo-image {
  height: 13vh;
  width: 6vw;
}

.shares-view {
  font-size: 35px;
  margin-left: 6%;
  margin-top: 8%;
}

.cards-grid {
  display: flex;
  flex-direction: row;
  height: 50vh;
  margin-top: 3%;
  padding-left: 3%;
  padding-right: 5%;
  width: 20vw;
}

.card {
  border: 2px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 99%;
  justify-content: flex-end;
  margin: 10%;
  overflow-wrap: break-word;
  width: 80%;
}

.top-section {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: 21vh;
  justify-content: space-around;
}

.text-section {
  display: flex;
  flex-direction: column;
}

.name,
.date,
.playlist,
.playlist-name,
.views,
.view-count,
.attachments,
.attachment-count {
  margin: 0;
}

.playlist-section {
  padding-bottom: 9px;
}
